export UH_LICENSE=UltiHash-Test:1048576:Bplb7lZQIK+mIXyPZKRNRIjara5EqxrCz8M5FDlPfqDrlMppL43axS7Ccd9TyuL4v03zHsFzPOyW7k+L+uouBw==
export UH_LOG_LEVEL=DEBUG
export UH_DB_HOSTPORT=datbase:5432
export UH_DB_USER=postgres
export UH_DB_PASS=uh
# export UH_ETCD_USERNAME=qwerty
# export UH_ETCD_PASSWORD=qwerty
