[submodule "lib/third-party/zpp_bits"]
	path = lib/third-party/zpp_bits
	url = https://github.com/eyalz800/zpp_bits.git
[submodule "lib/third-party/pugixml"]
	path = lib/third-party/pugixml
	url = https://github.com/zeux/pugixml
